* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #fff;
}

.navbar {
  width: 100%;
  height: 70px;
  background: linear-gradient(rgb(255, 255, 255) 10%, rgb(219, 237, 255));
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 70px;
  height: 70px;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}

.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 30px;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: color 0.3s;
  transition: transform 0.3s;
  font-size: 18px;
}

.menu li a:hover {
  color: #0078ff;
  transform: scale(1.1);
}

.search-box {
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 4px 10px;
}

.search-box input {
  border: none;
  outline: none;
  padding: 5px;
  width: 150px;
}

.search-box button {
  background: none;
  border: none;
  cursor: pointer;
}

.auth a {
  margin-left: 15px;
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.auth a:hover {
  color: #0078ff;
}
.auth > .userProfile {
  display: flex;
  align-items: center;
}
